<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.yjytke.dao.ContentDao">
	<sql id="BASE_TABLE">
		ke_content
	</sql>
	
	<sql id="KE_CPRELATION">
		ke_cprelation
	</sql>

	<sql id="BASE_COLUMN">
		id,userid,title,titlePic,content,style,btype,status,tags,description,created,modifiedtime,hits,allowComment
	</sql>

	<!-- 新增博文 -->
	<insert id="addArticle"
		parameterType="com.yjytke.entity.KeContent" useGeneratedKeys="true" keyProperty="id">
		INSERT INTO
		<include refid="BASE_TABLE" />
		<trim prefix="(" suffix=")" suffixOverrides=",">
			userid,title,titlePic,content,style,btype,status,tags,description,created,hits,allowComment,
		</trim>
		<trim prefix="VALUES(" suffix=")" suffixOverrides=",">
            #{userid, jdbcType=INTEGER}, #{title, jdbcType=VARCHAR}, #{titlePic, jdbcType=VARCHAR},
            #{content, jdbcType=LONGVARCHAR}, #{style, jdbcType=VARCHAR},#{btype, jdbcType=VARCHAR},
            #{status, jdbcType=VARCHAR}, #{tags, jdbcType=VARCHAR},#{description, jdbcType=VARCHAR},
            #{created, jdbcType=TIMESTAMP},#{hits, jdbcType=INTEGER},#{allowComment, jdbcType=INTEGER},
        </trim>
	</insert>
	
	<!-- 根据用户查询博文列表 -->
	<select id="getArticlesByUser" resultType="com.yjytke.entity.KeContent">
		SELECT
		<include refid="BASE_COLUMN"/>
		FROM
		<include refid="BASE_TABLE"/>
		WHERE
		<if test="userid!=null">
		userid = #{userid, jdbcType=INTEGER}
		</if>
		<if test="status!=null">
			AND status  = #{status, jdbcType=VARCHAR}
		</if>
		<if test="style!=null">
			AND style  = #{style, jdbcType=VARCHAR}
		</if>
		ORDER BY CREATED DESC
	</select>
	<!--  根据博文类型和用户获取博文 -->
	<select id="getArticlesByUserAndBtype" resultType="com.yjytke.entity.KeContent">
		SELECT
		<include refid="BASE_COLUMN"/>
		FROM
		<include refid="BASE_TABLE"/>
		WHERE
		id in
		(
		SELECT contentid
		FROM 
		<include refid="KE_CPRELATION"/>
		WHERE
		<if test="userid != null">
			userid = #{userid, jdbcType=INTEGER}
		</if>
		<if test="userid != null">
			AND propertiesid = #{btypeid, jdbcType=INTEGER}
		</if>
		)
		<if test="status!=null">
			AND status  = #{status, jdbcType=VARCHAR}
		</if>
		<if test="style!=null">
			AND style  = #{style, jdbcType=VARCHAR}
		</if>
		ORDER BY CREATED DESC
	</select>
	
	<!-- 根据主键查询博文 -->
	<select id="getArticleByID" resultType="com.yjytke.entity.KeContent">
		SELECT
		<include refid="BASE_COLUMN"/>
		FROM
		<include refid="BASE_TABLE"/>
		WHERE
		<if test="_parameter!=null">
		id = #{_parameter, jdbcType=INTEGER}
		</if>
	</select>
	
	<!-- 修改博文 -->
	<update id="updateContent" parameterType="com.yjytke.entity.KeContent">
		UPDATE 
		<include refid="BASE_TABLE" />
		<set>
			<if test="btype!=null">
				btype = #{btype, jdbcType=VARCHAR},
			</if>
			<if test="title!=null">
				title = #{title, jdbcType=VARCHAR},
			</if>
			<if test="titlePic!=null">
				titlePic = #{titlePic, jdbcType=VARCHAR},
			</if>
			<if test="content!=null">
				content = #{content, jdbcType=VARCHAR},
			</if>
			<if test="style!=null">
				style = #{style, jdbcType=VARCHAR},
			</if>
			<if test="status!=null">
				status = #{status, jdbcType=VARCHAR},
			</if>
				tags = #{tags, jdbcType=VARCHAR},
			<if test="titlePic!=null">
				description = #{description, jdbcType=VARCHAR},
			</if>
			<if test="modifiedtime!=null">
				modifiedtime = #{modifiedtime, jdbcType=TIMESTAMP},
			</if>
			<if test="hits!=null">
				hits = #{hits, jdbcType=INTEGER},
			</if>
				<if test="allowComment!=null">
				allowComment = #{allowComment, jdbcType=INTEGER},
			</if>
		</set>
		WHERE id = #{id ,jdbcType=INTEGER}
	</update>
	
	<!-- 删除博文 -->
	<delete id="deleteArticleById">
		DELETE
		FROM
		<include refid="BASE_TABLE" />
		WHERE
		id = #{id ,jdbcType=INTEGER}
	</delete>
	
	<!-- 时间轴 -->
	<select id="getTimeList" resultType ="java.lang.String">
		SELECT 
		DISTINCT(SUBSTRING(created,1,7)) 
		FROM 
		<include refid="BASE_TABLE"/> 
		WHERE
		userid = #{userid, jdbcType=INTEGER}
		order by created DESC
	</select>
	
	<!-- 根据时间轴获取博文 -->
	<select id="getarticleByUserAndTime" resultType="com.yjytke.entity.KeContent">
		SELECT
		<include refid="BASE_COLUMN"/>
		FROM
		<include refid="BASE_TABLE"/>
		WHERE
		<if test="timevalue!=null">
			created LIKE CONCAT(#{timevalue, jdbcType = VARCHAR},'%')
		</if>
		<if test="userid!=null">
			AND userid  = #{userid, jdbcType=INTEGER}
		</if>
		<if test="status!=null">
			AND status  = #{status, jdbcType=VARCHAR}
		</if>
		<if test="style!=null">
			AND style  = #{style, jdbcType=VARCHAR}
		</if>
			ORDER BY created DESC
	</select>
	
</mapper>