<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.yjytke.dao.ContentDao">
	<sql id="BASE_TABLE">
		ke_content
	</sql>

	<sql id="BASE_COLUMN">
		id,userid,title,titlePic,content,style,btype,status,tags,created,modifiedtime,hits,allowComment
	</sql>

	<!-- 新增博文 -->
	<insert id="addArticle"
		parameterType="com.yjytke.entity.KeContent" useGeneratedKeys="true" keyProperty="id">
		INSERT INTO
		<include refid="BASE_TABLE" />
		<trim prefix="(" suffix=")" suffixOverrides=",">
			userid,title,titlePic,content,style,btype,status,tags,created,hits,allowComment,
		</trim>
		<trim prefix="VALUES(" suffix=")" suffixOverrides=",">
            #{userid, jdbcType=INTEGER}, #{title, jdbcType=VARCHAR}, #{titlePic, jdbcType=VARCHAR},
            #{content, jdbcType=LONGVARCHAR}, #{style, jdbcType=VARCHAR},
            #{btype, jdbcType=VARCHAR}, #{status, jdbcType=VARCHAR}, #{tags, jdbcType=VARCHAR},
            #{created, jdbcType=BIGINT},#{hits, jdbcType=INTEGER},#{allowComment, jdbcType=INTEGER},
        </trim>
	</insert>
	
	<!-- 根据用户查询博文列表 -->
	<select id="getArticlesByUser" resultType="com.yjytke.entity.KeContent">
		SELECT
		<include refid="BASE_COLUMN"/>
		FROM
		<include refid="BASE_TABLE"/>
		WHERE
		<if test="_parameter!=null">
		userid = #{_parameter, jdbcType=INTEGER}
		</if>
		ORDER BY CREATED DESC
	</select>
	
	<!-- 根据主键查询博文列表 -->
	<select id="getArticleByID" resultType="com.yjytke.entity.KeContent">
		SELECT
		<include refid="BASE_COLUMN"/>
		FROM
		<include refid="BASE_TABLE"/>
		WHERE
		<if test="_parameter!=null">
		id = #{_parameter, jdbcType=INTEGER}
		</if>
	</select>
</mapper>