<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.yjytke.dao.PropertiesDao">
	<sql id="BASE_TABLE">
		ke_properties
	</sql>

	<sql id="BASE_COLUMN">
		id,type,rea_value,sort,picture,description
	</sql>
	
	<select id="getTagAndType" resultType="com.yjytke.entity.KeProperties">
		SELECT 
		<include refid="BASE_COLUMN" />
		FROM
		<include refid="BASE_TABLE" />
		WHERE
		TYPE IN (
		<if test="tag!=null">
		#{tag, jdbcType=VARCHAR},
		</if>
		<if test="btype!=null">
		#{btype, jdbcType=VARCHAR}
		</if>
		) AND
		userid = #{userid, jdbcType=INTEGER}
	</select>
	
	<!-- 根据实际值和用户id查询属性 -->
	<select id="getPropByValueAndUserid" resultType="com.yjytke.entity.KeProperties">
		SELECT
		<include refid="BASE_COLUMN" />
		FROM
		<include refid="BASE_TABLE" />
		WHERE
		<if test="userid != null">
			userid = #{userid, jdbcType=INTEGER}
		</if> 
		<if test="rea_value != null">
			and rea_value = #{rea_value, jdbcType=INTEGER}
		</if> 
	</select>
	
	<!-- 新增prop -->
	<insert id="insertProp" parameterType="com.yjytke.entity.KeProperties"
	 useGeneratedKeys="true" keyProperty="id">
	INSERT INTO
	<include refid="BASE_TABLE"/>
	<trim prefix="(" suffix=")" suffixOverrides=",">
		userid,type,rea_value,picture,sort,description,
	</trim>
	<trim prefix="VALUES(" suffix=")" suffixOverrides=",">
        #{userid, jdbcType=INTEGER}, 
        #{type, jdbcType=VARCHAR},
        #{rea_value, jdbcType=VARCHAR},
        #{picture, jdbcType=VARCHAR},
        #{sort, jdbcType=INTEGER},
        #{description, jdbcType=VARCHAR},
        </trim>
	</insert>
	
	<select id="getPropByContent" parameterType="com.yjytke.entity.KeContent"
	resultType="com.yjytke.entity.KeProperties"
	>
	SELECT
		<include refid="BASE_COLUMN" />
		FROM
		<include refid="BASE_TABLE" />
	WHERE
		id in 
		(
		SELECT PROPERTIESID FROM ke_cprelation WHERE CONTENTID = 
		#{id, jdbcType=INTEGER} AND USERID = #{userid, jdbcType=INTEGER}
		)
	</select>
	
	
</mapper>