<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.yjytke.dao.UserDao">
	<sql id="BASE_TABLE">
		ke_user
	</sql>

	<sql id="BASE_COLUMN">
		id,account_number,nick_name,avatar,account_password,phone_number,email,ts,status,login_error_tale,login_time
	</sql>

	<insert id="insert"
		parameterType="com.yjytke.entity.KeUser">
		INSERT INTO
		<include refid="BASE_TABLE" />
		<trim prefix="(" suffix=")" suffixOverrides=",">
			account_number,account_password
			<if test="phone_number != null">
				phone_number,
			</if>
		</trim>
		<trim prefix="VALUES(" suffix=")" suffixOverrides=",">
			#{account_number, jdbcType=VARCHAR},#{account_password, jdbcType=VARCHAR},
			<if test="phone_number != null">
				#{phone_number, jdbcType=VARCHAR},
			</if>
		</trim>
	</insert>

	<update id="addLoginErrorSum"
		parameterType="com.yjytke.entity.KeUser">
		UPDATE
		<include refid="BASE_TABLE" />
		<set>
		<if test="password != null">
             login_error_tale = 0
         </if>
         <if test="password == null">
             login_error_tale = ifnull(login_error_tale,0)+1,
         </if>
         <if test="login_time != null">
             login_time = #{login_time, jdbcType=BIGINT}
         </if>
		</set>
		WHERE account_number = #{username, jdbcType=VARCHAR}
	</update>

	<select id="login"
		resultType="com.yjytke.entity.KeUser">
		SELECT
		<include refid="BASE_COLUMN" />
		FROM
		<include refid="BASE_TABLE" />
		WHERE
		 <if test="username != null">
             account_number = #{username, jdbcType=VARCHAR}
         </if>
         <if test="password != null">
             AND account_password = #{password, jdbcType=VARCHAR}
         </if>
	</select>




</mapper>