<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<!-- For IE -->
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<!-- For Resposive Device -->
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<!-- For Window Tab Color -->
<!-- Chrome, Firefox OS and Opera -->
<meta name="theme-color" content="#2c2c2c">
<!-- Windows Phone -->
<meta name="msapplication-navbutton-color" content="#2c2c2c">
<!-- iOS Safari -->
<meta name="apple-mobile-web-app-status-bar-style" content="#2c2c2c">

<title>Home</title>

<!-- Main style sheet -->
<link rel="stylesheet" type="text/css" th:href="@{/comm/css/style.css}">
<!-- responsive style sheet -->
<link rel="stylesheet" type="text/css" th:href="@{/comm/css/responsive.css}">
<!-- Theme-Color css -->
<link rel="stylesheet" id="jssDefault" th:href="@{/comm/css/color.css}">


<!-- Fix Internet Explorer ______________________________________-->

<!--[if lt IE 9]>
	<script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
	<script src="vendor/html5shiv.js"></script>
	<script src="vendor/respond.js"></script>
<![endif]-->

	
</head>

<body>
<div class="search-box" id="searchWrapper">
	<div id="close-button"></div>
	<div class="container">
		<form action="#">
			<div class="greeting-text"><span class="greeting"></span></div>
			<div class="input-wrapper">
				<input type="text" placeholder="type your keyword" autofocus>
			</div>
		</form>
	</div>
</div> <!-- /.search-box -->


<div class="main-page-wrapper">
	<!-- ===================================================
		Loading Transition
	==================================================== -->
	<div id="loader-wrapper">
		<div id="loader">
			<span></span>
			<span></span>
			<span></span>
			<span></span>
			<span></span>
		</div>
	</div>


	<!-- ==================== Style Switcher ==================== -->
	<div class="switcher">
		<!-- Switcher button -->
		<div class="switch-btn">
			<button><i class="fas fa-cog fa-spin"></i></button>
		</div>

		<!-- switcher body -->
<!-- 		<div class="switch-menu">
			<h5 class="title">Style Switcher</h5>						
			Theme color changer
			<div class="switcher-container">
				<h5>Color Skins</h5>
				<ul id="styleOptions" title="Switch Color" class="clearfix">
					<li><a href="javascript: void(0)" data-theme="color" class="color1"></a></li>
					<li><a href="javascript: void(0)" data-theme="color-2" class="color2"></a></li>
					<li><a href="javascript: void(0)" data-theme="color-3" class="color3"></a></li>
					<li><a href="javascript: void(0)" data-theme="color-4" class="color4"></a></li>
					<li><a href="javascript: void(0)" data-theme="color-5" class="color5"></a></li>
					<li><a href="javascript: void(0)" data-theme="color-6" class="color6"></a></li>
					<li><a href="javascript: void(0)" data-theme="color-7" class="color7"></a></li>
					<li><a href="javascript: void(0)" data-theme="color-8" class="color8"></a></li>
					<li><a href="javascript: void(0)" data-theme="color-9" class="color9"></a></li>
					<li><a href="javascript: void(0)" data-theme="color-10" class="color10"></a></li>
				</ul>
				<h5>Theme Demo</h5>
				<ul class="theme-demo clearfix">
					<li>
						<div class="img-box"><a href="sotto/"><img th:src="@{/comm/images/home/light.jpg}" alt=""></a></div>
						<h6>Light layout</h6>
					</li>
					<li>
						<div class="img-box"><a href="sotto-dark/"><img th:src="@{/comm/images/home/dark.jpg}" alt=""></a></div>
						<h6>Dark layout</h6>
					</li>
				</ul>
			</div>
		</div> --> <!-- /switch-menu -->
	</div> <!-- /.switcher -->


	<!-- 
	=============================================
		Top Header
	============================================== 
	-->
	<div class="top-header">
		<div class="container">
			<div class="row">
				<div class="col-lg-8 col-12">
					<div class="news-bell">Recent Post :</div>
					<div class="breaking-news easyTicker">
						<div class="wrapper">
							<div class="list"><a href="#">One morning, when Gregor Samsa woke from troubled dreams.</a></div>
							<div class="list"><a href="#">CNN's Kyung Lah sits down with Japan's World Cup-winning.</a></div>
							<div class="list"><a href="#">Song Byeok had every reason to be pleased with his success.</a></div>
						</div> <!-- /.wrapper -->
					</div> <!-- /.breaking-news -->
				</div>
				<div class="col-lg-4 col-12">
					<ul class="social-icon text-right">
						<li class="icon"><a href="#"><i class="fab fa-facebook-f"></i></a></li>
						<li class="icon"><a href="#"><i class="fab fa-twitter"></i></a></li>
						<li class="icon"><a href="#"><i class="fab fa-google-plus-g"></i></a></li>
						<li class="icon"><a href="#"><i class="fab fa-linkedin-in"></i></a></li>
						<li class="search-button">
							<button class="search" id="search-button"><i class="fas fa-search"></i></button>
						</li>
					</ul>
				</div>
			</div> <!-- /.row -->
		</div> <!-- /.container -->
	</div> <!-- /.top-header -->

	

	<!-- 
	=============================================
		Theme Header
	============================================== 
	-->
	<header class="theme-main-header">
		<div class="container">
			<div class="content-holder clearfix">
				<div class="logo"><a th:href="@{'/index/'+${session.login_user.account_number}}"><img th:src="@{/comm/images/logo/logo.png}" alt=""></a></div>
				<!-- ============== Menu Warpper ================ -->
				<div class="menu-wrapper">
					<nav id="mega-menu-holder" class="clearfix">
					   <ul class="clearfix">
						  <li><a th:href="@{'/index/'+${session.login_user.account_number}}">Home</a></li>
						  <li><a href="about-me.html">About me</a></li>
						  <li><a href="contact.html">contact me</a></li>
					   </ul>
					</nav> <!-- /#mega-menu-holder -->
				</div> <!-- /.menu-wrapper -->
			</div> <!-- /.content-holder -->
		</div> <!-- /.container -->
	</header> <!-- /.theme-main-header -->

	
	<!-- 
	=============================================
		Theme Main Banner
	============================================== 
	-->
	<div class="theme-banner-section-one section-margin-bottom">
		<!-- MasterSlider -->
		<div id="P_masterslider" class="master-slider-parent ms-panorama ms-parent-id-30" >
			<!-- MasterSlider Main -->
			<div id="main-slider-one" class="master-slider ms-skin-default" >
				<div class="ms-slide" data-delay="25" data-fill-mode="fill" >
					<img class="ms-layer"
						 th:src="@{/comm/images/blank.gif}"
						 th:data-src="@{/comm/images/home/panaroma1.jpg}"
						 alt=""
						 style=""
						 data-effect="t(false,850,n,n,n,n,n,n,n,n,n,n,n,n,n)"
						 data-duration="30200"
						 data-ease="linear"
						 data-parallax="6"
						 data-type="image"
						 data-offset-x="-519"
						 data-offset-y="-1"
						 data-origin="mc"
						 data-position="normal" />
					<div class="ms-layer main-heading"
						 style=""
						 data-effect="t(true,n,20,n,n,n,n,n,n,n,n,n,n,n,n)"
						 data-duration="3000"
						 data-delay="400"
						 data-ease="easeOutQuint"
						 data-parallax="60"
						 data-offset-x="115"
						 data-offset-y="-95"
						 data-origin="ml"
						 data-position="normal"
						 data-masked="true"
						 data-mask-width="auto">CAMPING</div>
					<div class="ms-layer author-layer"
						 style=""
						 data-effect="t(true,n,50,n,n,n,n,n,n,n,n,n,n,n,n)"
						 data-duration="5000"
						 data-delay="1500"
						 data-ease="easeOutQuint"
						 data-parallax="120"
						 data-offset-x="120"
						 data-offset-y="-33"
						 data-origin="ml"
						 data-position="normal"
						 data-masked="true"
						 data-mask-width="666">Stone Meadow</div>
					<div class="ms-layer main-text"
						 style=""
						 data-effect="t(true,n,50,n,n,n,n,n,n,n,n,n,n,n,n)"
						 data-duration="5000"
						 data-delay="2500"
						 data-ease="easeOutQuint"
						 data-parallax="120"
						 data-offset-x="120"
						 data-offset-y="35"
						 data-origin="ml"
						 data-position="normal"
						 data-masked="true"
						 data-mask-width="450">The group launched a campaign to protect the area from commercial development.</div>
					<div class="ms-layer read-more"
						 style=""
						 data-effect="t(true,n,n,n,n,n,n,n,n,n,n,n,n,n,n)"
						 data-duration="5000"
						 data-delay="3500"
						 data-ease="easeOutQuint"
						 data-parallax="80"
						 data-offset-x="120"
						 data-offset-y="90"
						 data-origin="ml"
						 data-position="normal" ><a href="#">Read More</a></div>
				</div>
				<div class="ms-slide" data-delay="25" data-fill-mode="fill" >
					<img class="ms-layer"
						 th:src="@{/comm/images/blank.gif}"
						 th:data-src="@{/comm/images/home/panaroma2.jpg}"
						 alt=""
						 style=""
						 data-effect="t(false,850,n,n,n,n,n,n,n,n,n,n,n,n,n)"
						 data-duration="30000"
						 data-ease="linear"
						 data-parallax="6"
						 data-type="image"
						 data-offset-x="-630"
						 data-offset-y="0"
						 data-origin="mc"
						 data-position="normal" />
					<div class="ms-layer main-heading"
						 style=""
						 data-effect="t(true,n,20,n,n,n,n,n,n,n,n,n,n,n,n)"
						 data-duration="3000"
						 data-delay="400"
						 data-ease="easeOutQuint"
						 data-parallax="60"
						 data-offset-x="115"
						 data-offset-y="-95"
						 data-origin="ml"
						 data-position="normal"
						 data-masked="true"
						 data-mask-width="auto">TREKKING</div>
					<div class="ms-layer author-layer"
						 style=""
						 data-effect="t(true,n,50,n,n,n,n,n,n,n,n,n,n,n,n)"
						 data-duration="5000"
						 data-delay="1500"
						 data-ease="easeOutQuint"
						 data-parallax="120"
						 data-offset-x="120"
						 data-offset-y="-33"
						 data-origin="ml"
						 data-position="normal"
						 data-masked="true"
						 data-mask-width="666">David Kemeron</div>
					<div class="ms-layer main-text"
						 style=""
						 data-effect="t(true,n,50,n,n,n,n,n,n,n,n,n,n,n,n)"
						 data-duration="5000"
						 data-delay="2500"
						 data-ease="easeOutQuint"
						 data-parallax="120"
						 data-offset-x="120"
						 data-offset-y="35"
						 data-origin="ml"
						 data-position="normal"
						 data-masked="true"
						 data-mask-width="450">Trekking is walking for long distances as well, though unlike hiking it is always a multi-day affair.</div>
					<div class="ms-layer read-more"
						 style=""
						 data-effect="t(true,n,n,n,n,n,n,n,n,n,n,n,n,n,n)"
						 data-duration="5000"
						 data-delay="3500"
						 data-ease="easeOutQuint"
						 data-parallax="80"
						 data-offset-x="120"
						 data-offset-y="90"
						 data-origin="ml"
						 data-position="normal" ><a href="#">Read More</a></div>
				</div>
			</div> <!-- /#main-slider-one -->
		</div>
	</div> <!-- /.theme-banner-section-one -->
	
	
	
	<!-- 
	=============================================
		Main Blog Post Wrapper
	============================================== 
	-->
	<div class="container">
		<div class="row">
			<div class="col-lg-8 col-12 blog-grid-style hover-effect-one">
			<th:block th:each="article:${contents.list}">
				<div class="single-blog-post">
					<div class="image-box"><img th:src="@{${article.titlePic}}" alt=""></div>
					<div class="post-meta-box bg-box">
						<ul class="author-meta clearfix">
			 				<th:block th:if="${article.style == 'blogs'}">
                                <li class="tag"><a href="javascript: void(0)">博文</a></li>
                            </th:block>
                            <th:block th:if="${article.style == 'life'}">
                                <li class="tag"><a href="javascript: void(0)">生活</a></li>
                            </th:block>
							<li class="date"><a href="javascript: void(0)" th:text="${generalutil.dateFormates(article.created)}"></a></li>
						</ul>
						<h4 class="title">
							<a th:href="${article.style=='blogs' ? '/blogs/article/'+{article.id} : '/life/article/'+{article.id}}" th:text="${article.title}">
							</a>
						</h4>
						<th:block th:if="${article.style == 'blogs'}">
							<!-- 博文分类 -->
							<ul class="share-meta clearfix">
								<li style="color: rgb(172,200,211);">分类：<th:block th:text="${article.btype}" /></li>
							</ul>
							<!-- 博文标签 -->
							<ul class="share-meta clearfix">
								<li style="color: rgb(172,200,211);">标签：<th:block th:text="${article.tags}" /></li>
							</ul>
						</th:block>
						<br/>
						<ul class="share-meta clearfix">
							<li><a href="#"><i class="icon flaticon-comment"></i>Comments (04)</a></li>
							<li><a href="#"><i class="icon flaticon-like-heart"></i>Likes (02)</a></li>
							<li class="share-option">
								<button><i class="icon flaticon-arrows"></i> Share</button>
								<ul class="share-icon">
									<li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
									<li><a href="#"><i class="fab fa-twitter"></i></a></li>
									<li><a href="#"><i class="fab fa-google-plus-g"></i></a></li>
									<li><a href="#"><i class="fab fa-linkedin-in"></i></a></li>
								</ul>
							</li> <!-- /.share-option -->
						</ul>
						<p><th:block th:text="${common.htmlToText(article.content,100)}" /></p>
					</div> <!-- /.post-meta-box -->
				</div> <!-- /.single-blog-post -->
			</th:block>
			<!-- 分页 -->
			<div th:replace="comm/pagehelp :: pageAdminNav(${contents})"></div>
			</div> <!-- /.col- -->
			
			<!-- ======================== Theme Sidebar =============================== -->
			<div class="col-lg-4 col-md-7 col-12 theme-main-sidebar">
				<div class="sidebar-box bg-box about-me">
					<h6 class="sidebar-title">关于我</h6>
					<img src="/comm/images/home/1.jpg" alt="">
					<p>大家好，我是渣渣杰</p>
					<div class="clearfix"><img src="/comm/images/home/sign.png" alt="" class="signature float-right"></div>
				</div> <!-- /.about-me -->
				<div class="sidebar-box bg-box sidebar-categories">
					<h6 class="sidebar-title">博文分类</h6>
					<ul>
						<th:block th:each="p:${properties}">
							<th:block th:if="${p.type == 'blogtype'}">
								<li><a th:href="@{'/index/'+${account}+'/btype/'+${p.id}}" th:text="${p.rea_value}"></a></li>
							</th:block>
						</th:block>
					</ul>
				</div> <!-- 博文分类 -->
				<div class="sidebar-box bg-box sidebar-tags">
					<h6 class="sidebar-title">标签</h6>
					<ul class="clearfix">
						<th:block th:each="p:${properties}">
							<th:block th:if="${p.type == 'tag'}">
								<li><a th:href="@{'/index/'+${account}+'/tag/'+${p.id}}" th:text="${p.rea_value}"></a></li>
							</th:block>
						</th:block>
					</ul>
				</div> <!-- 标签  -->
				
				<div class="sidebar-box bg-box sidebar-trending-post">
					<h6 class="sidebar-title">链接</h6>
					<div class="single-trending-post clearfix">
						<img src="/comm/images/blog/5.jpg" alt="" class="float-left">
						<div class="post float-left">
							<h6><a href="#">这是我的github </a></h6>
							<ul>
								<li class="tag">LINK</li>
							</ul>
						</div>
					</div>
					<div class="single-trending-post clearfix">
						<img src="/comm/images/blog/6.jpg" alt="" class="float-left">
						<div class="post float-left">
							<h6><a href="#">这是我的球球</a></h6>
							<ul>
								<li class="tag">LINK</li>
							</ul>
						</div>
					</div>
				</div>
				
				
				<div class="sidebar-box bg-box sidebar-categories">
					<h6 class="sidebar-title">时间轴</h6>
					<ul>
						<th:block th:each="time:${timebase}">
							<li>
								<a th:href="@{'/index/'+${account}+'/time/'+${time}}" th:text="${time}">
								</a>
							</li>
						</th:block>
					</ul>
				</div> <!-- /.sidebar-categories -->
				<div class="sidebar-box bg-box sidebar-newsletter">
					<h6 class="sidebar-title">newsletter</h6>
					<form action="#">
						<input type="email" placeholder="Your email address" required>
						<button class="theme-button-one">Sign up</button>
					</form>
				</div> <!-- /.sidebar-newsletter -->
			</div> <!-- /.theme-main-sidebar -->
		</div> <!-- /.row -->
	</div> <!-- /.container -->


	<!--
	=====================================================
		底部
	=====================================================
	-->
	<footer class="theme-footer">
		<div class="container">
			<div class="logo"><a th:href="@{'/index/'+${session.login_user.account_number}}"><img th:src="@{/comm/images/logo/logo.png}" alt=""></a></div>
			<p class="footer-text">Blog and Portfolio Theme</p>
			<ul class="social-icon">
				<li class="icon"><a href="#"><i class="fab fa-facebook-f"></i></a></li>
				<li class="icon"><a href="#"><i class="fab fa-twitter"></i></a></li>
				<li class="icon"><a href="#"><i class="fab fa-google-plus-g"></i></a></li>
				<li class="icon"><a href="#"><i class="fab fa-linkedin-in"></i></a></li>
			</ul>
			<p class="copyright">Copyright &copy; 2018 wuynje.</p>
		</div>
	</footer>
	

	

	<!-- 右下角返回顶部的按钮 -->
	<button class="scroll-top tran3s">
		<i class="fa fa-angle-up" aria-hidden="true"></i>
	</button>
	


<!-- Optional JavaScript _____________________________  -->

<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<!-- jQuery -->
<script th:src="@{/comm/vendor/jquery.2.2.3.min.js}"></script>
<!-- Popper js -->
<script th:src="@{/comm/vendor/popper.js/popper.min.js}"></script>
<!-- Bootstrap JS -->
<script th:src="@{/comm/vendor/bootstrap/js/bootstrap.min.js}"></script>
<!-- Style-switcher  -->
<script th:src="@{/comm/vendor/jQuery.style.switcher.min.js}"></script>
<!-- jquery-easy-ticker-master -->
<script th:src="@{/comm/vendor/jquery-easy-ticker-master/jquery.easy-ticker.min.js}"></script>
<!-- jquery easing -->
<script th:src="@{/comm/vendor/jquery.easing.1.3.js}"></script>
<!-- Font Awesome -->
<script th:src="@{/comm/fonts/font-awesome/fontawesome-all.min.js}"></script>
<!-- Master Slider -->
<script th:src="@{/comm/vendor/masterslider/masterslider.min.js}"></script>
<!-- menu  -->
<script th:src="@{/comm/vendor/menu/src/js/jquery.slimmenu.js}"></script>
<!-- owl.carousel -->
<script th:src="@{/comm/vendor/owl-carousel/owl.carousel.min.js}"></script>
<!-- Fancybox -->
<script th:src="@{/comm/vendor/fancybox/dist/jquery.fancybox.min.js}"></script>
<!-- Youtube Video -->
<script th:src="@{/comm/vendor/jquery.fitvids.js}"></script>

<!-- Theme js -->
<script th:src="@{/comm/js/theme.js}"></script>
</div> <!-- /.main-page-wrapper -->
</body>
</html>
